.App {
  text-align: center;
  display: block;
}

#page-wrap{
  min-height: 92vh;
}
#page-wrap:after {
  content: "";
  display: block;
  
}

.wp-block-image img {
  border: 1px solid #d3dce5;
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  }

.wprm-recipe-container{
  border: 1px solid grey;
  margin-top: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.wprm-container-float-right{
    float: right;
  }

.wprm-template-chic-buttons{
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

.wprm-recipe-link-wide-button{
  display: flex;
  width: 45%;
  border: 1px solid grey;
  justify-content: center;
}

.wprm-icon-shortcode{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: white;
}

.wprm-decoration-line{
  border-top: 1px solid grey;
  margin-bottom: -22px;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}
.wprm-recipe-icon{
  background-color: white;
}

.wprm-recipe-equipment-list{
  margin-top: 30px;
}

.size-full{
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}