.home-main{
    width: 80%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}




.home-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 258px;
    min-height: 175px;
    width: 30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    
   
}

.home-inner a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 33%;
    left: 33%;
    z-index: 1;
}

.home-inner a:hover{
   text-decoration: underline;
    transition: all .5s ease;
}
 
.home-inner:hover > .garden-bg{
    filter: brightness(50%);
}

.home-inner:hover > .recipe-bg{
    filter: brightness(50%);
}
.home-inner:hover > .project-bg{
    filter: brightness(50%);
}
.garden-bg{
 background-image: url("../img/Garden.jpeg"); 
 background-size: cover;  
 height: 100%;
 width: 100%;
 -webkit-filter: brightness(100%);
}

.garden-bg:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.recipe-bg{
 background-image: url('../img/Thai-Coconut-Curry-3-1024x896.jpeg');
 background-size: cover; 
 height: 100%;
 width: 100%;
 -webkit-filter: brightness(100%) 
}

.recipe-bg:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.project-bg{
    background-image: url('../img/projects.jpeg');
    background-size: cover; 
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(100%)  
}

.project-bg:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
div.home-post{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.home-title{
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
}

p{
    text-indent: 2cm;
}