.projects-main{
    width: 80%;
    height: auto;
    text-align: center;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.projects-inner{
    flex-direction: row;
    
    justify-content: space-around;
    border: 1px solid;
    width: 48%;
    height: 300px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;

}

.garden{
 background-image: url("../img/lavender-fields-harvesting-4.jpeg"); 
 background-size: cover;  
}
